/* ------ Specification ------ */

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
	color: #fff;
    font-weight: 400;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	padding: 0;
	margin: 0;
	color: #fff;
}

.btn {
	background: #e84545;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border-radius: 2px;
	width: 200px;
	height: 46px;
	padding: 13px;
	
}

.btn:focus {
	box-shadow: none;
}

.container-fluid_plain {
	padding: 0;
}

/* ------ First Screen ------ */

.header {
	background: url('../img/new-york.jpg') no-repeat center center / cover;
	padding-top: 26px;
	padding-bottom: 243px;
}

.logo {
	display: block;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}

.logo span {
	color: #626fe4;
	font-weight: 700;
}

.logo:hover {
	/*text-transform: none;*/
	color: #fff;
}

.menu {
	justify-content: space-between;
	margin-top: 13px;
}

.menu__item a {
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	/*padding: 0 25px;*/
	text-decoration: none;
	color: #fff;
	/*position: relative;
	padding-right: 0;*/
}

.menu__item {
	position: relative;
	margin-left: -21px;
}

.menu__item:after {
	content: '';
	position: absolute;
	bottom: -38px;
	left: 0;
	width: 100%;
	height: 3px;
	transition: all 0.2s ease;

}

.menu__item:hover::after {
	background-color: #9a9a9f;
}

.menu__item:focus {
	text-decoration: none;
	color: #626fe4;
	border-bottom: 3px solid #9a9a9f;
	padding-bottom: 35px;
	transition: all 0.2s ease;
}

.line {
	border-bottom: 1px solid #53545d;
	padding-bottom: 29px;
}

.offer {
	padding-top: 179px;
}

.offer__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 45px;
	padding-bottom: 33px;
}

.offer__text {
	font-size: 22px;
	padding-bottom: 28px;
	width: 551px;
	margin: 0 auto;
}

.offer__btn:hover {
	color: #e84545;
	text-decoration: none;
	background: #fff;
}

/* ------ Functions ------ */

.functions {
	padding-top: 120px;
	padding-bottom: 5px;
}

.feature {
	width: 309px;
	margin-left: 26px;
	margin-bottom: 70px;
}

.feature__images {
	margin-bottom: 32px;
}

.feature__title {
	color: #000;
	font-size: 14px;
	margin-bottom: 19px;
	text-transform: uppercase;
}

.feature__text {
	font-weight: 400;
	font-size: 14px;
	color: #6c7279;
	/*width: 88%;
    margin: 0 auto;*/
}

/* ------ Presentation ------ */
.presentation {
	padding: 47px 0 100px;
}
.portfolio {
	display: block;
	width: 263px;
    height: 211px;
    text-decoration: none;
    margin-bottom: 26px; 
}

.portfolio:hover .portfolio__overlay {
	/*display: block;*/
	width: 263px;
    height: 211px;
    text-decoration: none;
    visibility: visible;
   /* align-items: center;*/
}

.portfolio__item:hover .portfolio__images:before {
	opacity: 1;
	visibility: visible;

}

.portfolio__images {
	width: 263px;
    height: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio__overlay {
	visibility: hidden;
	text-align: center;
	position: relative;
    z-index: 2;
    overflow: hidden;
    height: 211px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(217,68,66,0.8);

}

.portfolio__overlay h4 {
	text-transform: none;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.portfolio__overlay p {
	text-transform: none;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

/* ------ Personal ------ */

.personal {
	background: #f1f2fd;
	padding: 128px 0 96px 0;
}

.wrap {
	margin-bottom: 21px;
}

.wrap__name {
	font-weight: 700;
	font-size: 22px;
	color: #000;
	margin-bottom: 3px;
	display: block;
	margin-top: 22px;
}
.wrap__ceo {
	color: #e84545;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
}

.wrap__text {
	font-size: 14px;
	color: #6c7279;
	width: 271px;
	margin-bottom: 26px;
	line-height: 1.5em;
}

.wrap__social {
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #e8ecee;
    display: flex;
    justify-content: center;
    margin-right: 4px;
}

.wrap__social:hover {
	background-color: #df2d2d;
}

.social {
    display: flex;
    align-items: center;
}

/* ------ Designer ------ */

.workspace {
	background: url('../img/susan.png') no-repeat 100% 50% / cover;
	height: 500px;
	width: 100%;
}

.quote {
	background: #53354a;
	padding-left: 69px;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.quote__title {
	color: #fff;
	font-size: 36px;
	font-weight: 400;
	font-style: italic;
	line-height: 1.2em;
	margin-bottom: 50px;
	width: 60%;
}

.quote__text {
	font-weight: 400;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
}

/* ------ Ready ------ */

.ready {
	padding: 94px 0 100px 0;
}

.start__title {
	font-weight: 700;
	font-size: 28px;
	color: #000;
	margin-bottom: 11px;
}

.start__text {
	font-weight: 400;
	font-size: 13px;
	color: #000;
	margin-bottom: 36px;
	text-transform: uppercase;
}

.start__btn {
	background: #e84545;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border-radius: 2px;
	width: 280px;
	height: 46px;
	padding: 13px;
}

.start__btn:hover {
	color: #e84545;
	text-decoration: none;
	background: #fff;
	border: 1px solid red;
}

/* ------ Footer ------ */

.footer	{
	background: #3a3e64;
	padding: 83px 0 52px 0;
	border-bottom: 12px solid #23253f;
}

.wrap__location {
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 15px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.wrap__place {
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	color: #adaebb;
	width: 98%;
	margin: 0 auto;
}

.wrap__place span:first-child {
	color: red;
}

.wrap__place span:last-child {
	color: #fff;
}

.wrap__place-first {
	width: 150px;
	display: block;
	margin: auto;
}

.wrap__place-second {
	color: #808080;
}

.wrap__place-third {
	color: #adaebb;
}

/* ------ Media queries ------ */

/* 992-1200px */
@media screen and (max-width: 1200px) {
	.wrap img {
		width: 100%;
	}
	.wrap__text {
		width: 100%;
	}
	.quote__title {
		width: 100%;
	}
	.feature__text {
		width: 100%;
	}
	.feature {
		margin-left: 0;
	}
}

/* 768-992px */
@media screen and (max-width: 992px) {
	.logo {
		text-align: center;
	}
	.menu__item {
    	margin-left: 0;
    }
    .quote {
    	height: 300px;
    }
	.quote__title {
		width: 100%;
		margin-bottom: 30px;
	}
	.portfolio {
		margin-left: 35px;
	}
	
}

/* 576-768px */
@media screen and (max-width: 768px) {
	.feature {
		width: 500px;
	}
	.workspace {
		background: url(../img/susan.png) no-repeat 80% 50% / cover;
	}
	.quote__title {
		font-size: 33px;
	}
	.wrap__location {
		margin-bottom: 5px;
	}
	.wrap__place {
		width: 63%;
		padding-bottom: 20px;
	}
}

/* 320-576px */
@media screen and (max-width: 576px) {
	.menu__item a {
		font-size: 13px;
	}
	.offer__title {
		font-size: 25px;
	}
	.offer__text {
		width: 100%;
		font-size: 15px;
    	padding-bottom: 80px;
	}
	.feature {
		width: 100%;
		margin-bottom: 40px;
	}
	.portfolio {
		margin-left: 15px;
	}
	.workspace {
		background: url(../img/susan.png) no-repeat 70% 50% / cover;
	}
	.quote {
		padding-left: 35px;
	}
	.quote__title {
		font-size: 25px;
	}
	.quote__text {
		font-size: 11px;
	}
	.start__title {
		font-size: 23px;
		margin-bottom: 15px;
	}
	.start__text {
		margin-bottom: 40px;
	}
	.wrap__place {
		padding-bottom: 22px;
		width: 100%;
	}

}